@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

body {
  background: #f6f8fc;
  padding: 0 10vw;
  font-family: 'Outfit', sans-serif;
  display: flex;
  justify-content: center;
  background-image: url(src/assets/pokeball-icon.png);
  background-repeat: no-repeat;
  background-position-x: -180px;
  background-position-y: -80px;
  width: 100%;
}

#root {
  width: 100%;
}

@layer base {
  h1,
  h2,
  h3,
  h4 {
    @apply m-[5px] text-center text-[#011030];
  }

  h4 {
    @apply my-[15px];
  }

  span {
    @apply text-[#8F9396];
  }
}

@layer components {
  .text-general {
    @apply m-[5px] text-center text-[#011030];
  }

  .wrapper {
    @apply rounded-[20px]  bg-white p-[15px] shadow-[0_10px_10px_#ededed];
  }

  .center {
    @apply flex items-center justify-center;
  }

  .column {
    @apply flex flex-col;
  }

  .row {
    @apply flex flex-row;
  }
}

@layer utilities {
  .image-pixelated {
    image-rendering: pixelated;
  }
}
