@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background: #060b28;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: #060b28;
}

::-webkit-scrollbar-thumb {
  background-color: #2f5aff;
  border-radius: 0.5rem;
  border: 0.25rem solid #060b28;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@layer components {
  .main-container {
    max-width: 78rem;
    padding: 0 1rem;
    margin: 0 auto;
  }

  .button {
    background: linear-gradient(180deg, #151a37 0%, rgba(21, 26, 55, 0) 100%);
    border: 1px solid #24293f;
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    font-size: 1rem;
    line-height: 150%;
    font-weight: 700;
    color: #ffffff;
  }

  .pokemon-bg {
    content: '';
    display: block;
    width: 25rem;
    height: 25rem;
    background: url('src/assets/background-pokeball.svg') no-repeat;
    background-size: cover;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

@layer utilities {
  .divider-horizontal-before {
    background: linear-gradient(
      270deg,
      #ffffff 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .divider-horizontal-after {
    background: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  }

  .divider-vertical-before {
    background: linear-gradient(
      rgba(255, 255, 255, 0) 0%,
      rgb(255, 255, 255) 100%
    );
  }

  .divider-vertical-after {
    background: linear-gradient(
      rgb(255, 255, 255) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .parallax > use {
    @apply animate-[wavesMove_25s_cubic-bezier(0.55,0.5,0.45,0.5)_infinite];
  }

  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }

  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }

  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }

  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
}
