@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

body {
  background: #f6f8fc;
  padding: 0 5vw;
  font-family: 'Outfit', sans-serif;
  background-image: url(src/assets/pokeball-icon.png);
  background-repeat: no-repeat;
  background-position-x: -180px;
  background-position-y: -80px;
  width: 100%;
  overflow: unset;
}

#root {
  overflow: unset;
  display: flex;
  flex-direction: row;
}

@layer base {
  h1,
  h2,
  h3,
  h4 {
    @apply m-[5px] text-center font-bold text-[#011030];
  }

  h2 {
    @apply text-[24px];
  }

  h4 {
    @apply mt-[15px];
  }

  span {
    @apply text-[#8F9396];
  }
}

@layer components {
  .text-general {
    @apply m-[5px] text-center text-[#011030];
  }

  .wrapper {
    @apply rounded-[20px]  bg-white p-[15px] shadow-[0_10px_10px_#ededed];
  }

  .center {
    @apply flex items-center justify-center;
  }

  .column {
    @apply flex flex-col;
  }

  .row {
    @apply flex flex-row;
  }
}

@layer utilities {
  .image-pixelated {
    image-rendering: pixelated;
  }

  .pokemon-info-variable-container {
    width: 100%;
    background-color: #f6f8fc;
    padding: 8px 0;
    border-radius: 30px;
    margin: 5px;
  }

  .current-pokemon-evolution-image {
    height: 74px;
    width: 74px;
    cursor: pointer;
    border-radius: 30%;
  }

  .current-pokemon-evolution-image:hover {
    background-color: rgba(0, 0, 0, 0.03);
  }

  .current-pokemon-evolution-level-container {
    font-weight: bold;
    font-size: 12px;
    width: 50px;
    background-color: #f6f8fc;
    padding: 8px 0;
    border-radius: 30px;
    margin: 5px;
  }
}
